.notesList
    display: flex
    flex-direction: column
    gap: 10px

.noteCard
    display: flex
    flex-direction: column
    gap: 5px
    border: 1px dotted grey
    border-radius: 5px
    padding: 5px

    .noteTitle
        text-align: center
        font-size: 1.5em
        font-weight: 700

    .noteCreated
        text-align: right
        font-style: italic