.notesList
    display: flex
    flex-direction: column
    gap: 10px

.noteCard
    display: flex
    flex-direction: column
    gap: 5px
    border: 1px dotted grey
    border-radius: 5px
    padding: 5px

    .noteTitle
        text-align: center
        font-size: 1.5em
        font-weight: 700

    .noteCreated
        text-align: right
        font-style: italic

.editNote
    position: absolute
    top: calc( 50% - 50% / 2 )
    left: calc( 50% - 75% / 2 )
    width: 75%
    height: 50%
    border: 1px dotted grey
    border-radius: 5px
    background-color: lightgrey
    box-sizing: border-box
    box-shadow: 1em 1em 2em grey, -1em -1em 2em white
    display: flex
    flex-direction: column
    // justify-content: start
    gap: 10px
    padding: 10px

    // .inputSpace
    //     margin-left: 10px
    //     margin-right: 10px

    // .inputText
    //     margin-left: 10px
    //     margin-right: 10px

    .labelInput
        // margin-left: 10px
        font-weight: 700



.faultLoading
    width: 300px
    position: absolute
    top: 40%
    left: calc( 50% - 300px / 2 )
    font-size: 2.5em
    font-weight: 900
    color: red
    text-align: center
    border: 2px dotted red
    border-radius: 5px
    padding: 10px
    background-color: lightgrey

.errMsg
    color: red
    font-size: 0.8em
    height: 1.4em