@function get-vw($target)
    $vw-context: (1000*.01) * 1px
    @return ($target/$vw-context) * 1vw

*
    font-size: 14px
    font-family: 'Courier New'

.h1
    font-size: 2em
    font-weight: 700
    text-align: center

.content
    width: 1024px
    margin-left: auto
    margin-right: auto

.loadingMsg
    position: absolute
    width: 300px
    text-align: center
    background-color: yellow
    opacity: 0.3
    padding: 10px
    top: 200px
    border: 1px dotted grey
    border-radius: 5px
    left: calc( get-vw(1000px) / 2 - 150px)
